/*kantai-collection.com*/
div[class="blogroll-channel"],
div[class="antennash_imglink"],
div[id="main"],
iframe {
    display: none !important;
}






/*akankore.doorblog.jp*/
div[class="rss_wrapper"],
div[class="blogroll-channel"],
div[class="listWithImage"],
div[id="button-wrapper"],
div[id="rsss"] {
    display: none !important;
}







/*kancolle.doorblog.jp*/
center,
div[id="blogroll-218506"],
div[id="blogroll-80888"] {
    display: none !important;
}












/*kanmsu.com*/
div[id="side"],
div[class="am1"],
div[class="related"],
div[class="comment"],
div[id="footer"] {
    display: none !important;
}